@model IEnumerable<EmployeeApp.Models.EmployeeModel>
@* @model EmployeeApp.Models.EmployeeModel; *@

@{
    ViewData["title"] = "Employee List";
}
<div class="col-xl-12" style=" display: flex; justify-content: space-between;">

    <h2>@ViewData["title"]</h2>

    <p>
        @* <a asp-action="create" class="btn btn-primary btn-sm">Add</a> *@
        <button type="button" class="btn btn-primary" data-bs-toggle="modal"  data-bs-target="#addEmployee">
            Add
        </button>
    </p>
</div>

<!-- Button trigger modal -->
<!-- Modal for Add Data -->
<div class="modal fade" id="addEmployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEmployeeLabel">Add Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" name="add">

                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name : </label>
                        <input id="firstName" type="text" onblur="validateField('firstName')" name="firstName" class="form-control" autocomplete="off" maxlength="30" required />
                        
                    </div>

                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name : </label>
                        <input id="lastName" type="text" onblur="validateField('lastName')" name="lastName"  class="form-control" autocomplete="off" maxlength="30" required />
                        
                    </div>

                    <div class="mb-3">
                        <label for="contactNumber" class="form-label">Contact Number : </label>
                        <input id="contactNumber" type="tel" onblur="validateField('contactNumber')" name="contactNumber" class="form-control" autocomplete="off" maxlength="10" required pattern="\d{10}" />
                        
                    </div>

                    <div class="mb-3">
                        <label for="emailId" class="form-label">Email Id : </label>
                        <input id="emailId" type="email" onblur="validateField('emailId')" name="emailId" class="form-control" autocomplete="off" maxlength="50" required />
                        
                    </div>

                    <div class="mb-3">
                        <label for="age" class="form-label">Age : </label>
                        <input id="age" type="number" onblur="validateField('age')" name="age" pattern="^\d{1,3}$" class="form-control" autocomplete="off" maxlength="3" required />
                        
                    </div>

                    <div class="mb-3">
                        <label for="imageFile" class="form-label">Image : </label>
                        <input id="imageFile" name="imageFile" type="file" class="form-control" autocomplete="off" required />
                        
                    </div>
                    
                   @*  <button  class="btn btn-outline-primary mb-3">Submit</button> *@

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" onclick="addemployee()" action="#" class="btn btn-success">Save changes</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal for Update Data -->
<div class="modal fade" id="updateEmployeeModal" tabindex="-1" aria-labelledby="updateEmployeeModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateEmployeeModalLabel">Employee Update</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form>
                    <input id="IdUpdate" name="Id" type="number" class="form-control" autocomplete="off" hidden/>

                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name : </label>
                        <input id="firstNameUpdate" name="firstName" type="text" class="form-control" autocomplete="off"  />
                    </div>

                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name : </label>
                        <input id="lastNameUpdate" name="lastName" type="text" class="form-control" autocomplete="off"  />
                    </div>

                    <div class="mb-3">
                        <label for="contactNumber" class="form-label">Contact Number : </label>
                        <input id="contactNumberUpdate" name="contactNumber" type="tel" class="form-control" autocomplete="off"  />
                    </div>

                    <div class="mb-3">
                        <label for="emailId" class="form-label">Email Id : </label>
                        <input id="emailIdUpdate" name="emailId" type="email" class="form-control" autocomplete="off"  />
                    </div>

                    <div class="mb-3">
                        <label for="age" class="form-label">Age: </label>
                        <input id="ageUpdate" name="age" type="number" class="form-control" autocomplete="off"  />
                    </div>

                    <div class="mb-3" >
                        <label for="imageFile" class="form-label">Image : </label>
                        <input id="imageFileUpdate" name="imageFile" type="file" class="form-control" onchange="previewImage(this)" autocomplete="off" />
                        @* <img id="imagePreviewUpdate" src="#" alt="Image Preview" style="max-width: 100%; max-height: 150px; margin-top: 10px; display: none;"> *@
                    </div>
                    <div class="mb-3" style="display: flex; flex-direction: column;">
                        
                        <img id="imagePreviewUpdate" src="#" alt="Image Preview" style="max-width: 30%; max-height: 150px; margin-top: 10px; display: none;">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="updateEmployeeData()" class="btn btn-success">Save changes</button>
            </div>
        </div>
    </div>
</div>


 
<!-- Modal for View Data -->
 <div class="modal fade" id="viewExampleModal" tabindex="-1" aria-labelledby="viewExampleModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewExampleModalLabel">Employee View</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <form>
                    <input id="IdView" name="Id" type="number" class="form-control" autocomplete="off" hidden />
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name : </label>
                        <input id="firstNameView" name="firstName" type="text" class="form-control" autocomplete="off" />
                    </div>

                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name : </label>
                        <input id="lastNameView" name="lastName" type="text" class="form-control" autocomplete="off" />
                    </div>

                    <div class="mb-3">
                        <label for="contactNumber" class="form-label">Contact Number : </label>
                        <input id="contactNumberView" name="contactNumber" type="tel" class="form-control" autocomplete="off" />
                    </div>

                    <div class="mb-3">
                        <label for="emailId" class="form-label">Email Id : </label>
                        <input id="emailIdView" name="emailId" type="email" class="form-control" autocomplete="off" />
                    </div>

                    <div class="mb-3">
                        <label for="age" class="form-label">Age : </label>
                        <input id="ageView" name="age" type="number" class="form-control" autocomplete="off" />
                    </div>

                    <div class="mb-3">
                        <label for="imageFile" class="form-label">Image : </label><br />
                        <input id="imageFileView" name="imageFile" type="file" class="form-control" onchange="previewImage(this)" autocomplete="off" hidden/>
                        @* <img id="imagePreviewUpdate" src="#" alt="Image Preview" style="max-width: 100%; max-height: 150px; margin-top: 10px; display: none;"> *@
                    </div>
                    <div class="mb-3" style="display: flex; flex-direction: column;">

                        <img id="imagePreviewView" src="#" alt="Image Preview" style="max-width: 30%; max-height: 150px; margin-top: 10px; display: none;">
                    </div>
                    </form>
            </div>
        </div>
    </div>
</div>


<table  class="table table-striped"  id="myTable" style="width=100% !important" >
    <thead class="table-dark">
        <tr>
            @* <th>#</th> *@
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.firstName)</th>
            <th>@Html.DisplayNameFor(model => model.lastName)</th>
            <th>@Html.DisplayNameFor(model => model.contactNumber)</th>
            <th>@Html.DisplayNameFor(model => model.emailId)</th>
            <th>@Html.DisplayNameFor(model => model.age)</th>
            <th>@Html.DisplayNameFor(model => model.imageFile)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script>
    
    
    var datatable;
    $(document).ready(function () {
     
        getEmployeeList();
    });
    function getEmployeeList() {
       $.ajax({

            type: "Get",
            url: "/Employee/EmployeeList",
            success: function (data) {
               
                debugger;
                datatable = $('#myTable').DataTable({
                    data: data,
                    columns: [
                        { data: 'Id' },
                        { data: 'firstName' },
                        { data: 'lastName' },
                        { data: 'contactNumber' },
                        { data: 'emailId' },
                        { data: 'age' },
                        {
                            data: 'imagePath', // Assume the data has a property named imageUrl that contains the image path
                            render: function (data, type, row) {
                                // Return an img tag with the image source and some attributes
                                return '<img src="/image/' + data + '" class="rounded-image" width="50" height="50" alt="Image" />';
                            }
                        },
                        {
                            data: null,
                            render: function (data, type, row) {

                                // return '<button type="button"  class="btn btn-primary" href="/Employee/update/' + row.id + '>Edit</a> |  < a href = "/Employee/delete/' + row.id + '" class="btn btn-danger btn-sm" > Delete < /a>';

                                return '<button type="button" onclick="populateFormData(' + row.Id + ')" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#updateEmployeeModal">EDIT</button>| <button type="button" onclick="deleteEmployee(' + row.Id + ')" class="btn btn-danger" >DELETE</button>| <button type="button" onclick="viewEmployee(' + row.Id + ')" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#viewExampleModal">VIEW</button>';

                            }
                        },

                    ]
                });
                // Success = true;//doesn't go here
               
            },
            error: function (textStatus, errorThrown) {
                Success = false; //doesn't go here
            }

        });
    }
    //Add Data Function
    function addemployee() {
        debugger;
        var empObj = {
            firstName: $('#firstName').val(),
            lastName: $('#lastName').val(),
            contactNumber: $('#contactNumber').val(),
            emailId: $('#emailId').val(),
            age: $('#age').val(),
            
            // imagePath: $('#imageFile')[0].files[0],
           
        }
        
        var formData=new FormData();
        formData.append("model", JSON.stringify(empObj));
        formData.append("file", $('#imageFile')[0].files[0]);

        $.ajax({        
            url: "/employee/create",
            data: formData,
            processData: false,
            contentType: false,
            cache: false,
            type: "POST",
            success: function (data) {
                debugger;
                if (data == "Email already exist!") 
                {
                    Swal.fire({
                        title: "Oops Email already exist!",
                        text: "close",
                        icon: "Error"
                    });
                }
                else{

                    $('#addEmployee').modal('hide');

                    Swal.fire({
                        title: "Good job!",
                        text: "Employee saved successfully!",
                        icon: "success",
                        button: "Ok",
                    });
                    datatable.destroy();
                    getEmployeeList();
                }
                // window.location.reload();
            },
            error: function (errorThrown) {
                console.log("Error saving employee:", errorThrown);
                Swal.fire("Oops", "An error occurred while saving your data, Please try again later.", "error");
            }
        });
    }


    function previewImage(input) {
        var file = input.files[0];

        if (file) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imagePreviewUpdate').attr('src', e.target.result).show();
            };

            reader.readAsDataURL(file);
        } else {
            // Clear the image preview if no file is selected
            $('#imagePreviewUpdate').attr('src', '').hide();
        }
    }


    // var updatebyid;

    //function for populating update data
    function populateFormData(empId) {
        debugger;
        $.ajax({
            type: "GET",
            url: "/Employee/populateUpdateData?emp_id=" + empId, // Adjust the URL to your endpoint
            // dataType: "json",
            success: function (employee) {
                debugger;

                // Populate the form with the received employee details
                $('#IdUpdate').val(employee.Id); // error
                $('#firstNameUpdate').val(employee.firstName);
                $('#lastNameUpdate').val(employee.lastName);
                $('#contactNumberUpdate').val(employee.contactNumber);
                $('#emailIdUpdate').val(employee.emailId);
                $('#ageUpdate').val(employee.age);

                var imagePreview = "/image/" + employee.imagePath;
                    // ? '/image/' + employee.profileImage
                    // : 'Upload Image';
                $('#imagePreviewUpdate').attr('src', imagePreview).show();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //function for updating employee's record
    function updateEmployeeData() {
        debugger;

        var employeeID ={
            id: $('#IdUpdate').val(),
        }

        debugger;

        var employeeData = {
            // Id: $('#IdUpdate').val(),
            firstName: $('#firstNameUpdate').val(),
            lastName: $('#lastNameUpdate').val(),
            contactNumber: $('#contactNumberUpdate').val(),
            emailId: $('#emailIdUpdate').val(),
            age: $('#ageUpdate').val(),
        };

        debugger;

        var formData = new FormData();
        formData.append("Id", employeeID.id);
        formData.append("model", JSON.stringify(employeeData));
        formData.append("file", $("#imageFileUpdate")[0].files[0]);

        debugger;

        // debugger;
        $.ajax({
            type: "POST",
            url: "/Employee/update",
            data: formData,
            contentType: false,
            processData: false,
            cache: false,
            // contentType: "application/json;charset=utf-8",
            // dataType: "json",
            success: function (data) {
                // console.log("Updated Successfully");
                // $('#updateExampleModal').modal('hide');
                // location.reload();
                // datatable.destroy();
                // getEmployeeList();
                if (data === "Index") {
                    Swal.fire({
                        title: "Employee updated successfully!",
                        text: "close",
                        icon: "success"
                    });
                    // alert("Employee updated successfully!");
                    $('#updateExampleModal').modal('hide');
                    datatable.destroy();
                    getEmployeeList();
                    // location.reload();
                } else {
                    // Handle errors or show appropriate messages
                    // console.error("Error updating employee:", data);
                    // alert("Failed to update employee. Please check the console for details.");
                    Swal.fire({
                        title: "Error updating employee!",
                        text: "close",
                        icon: "Error"
                    });

                }
            },
            error: function (errormessage) {
                // alert(errormessage.responseText);
                Swal.fire({
                    title: "Error updating employee!",
                    text: "close",
                    icon: "Error"
                });
            }
        });
    }

    function viewEmployee(empId) {
        debugger;
        $.ajax({
            type: "GET",
            url: "/Employee/populateUpdateData?emp_id=" + empId, // Adjust the URL to your endpoint
            // dataType: "json",
            success: function (employee) {
                debugger;

                // Populate the form with the received employee details
                $('#IdView').val(employee.Id); // error
                $('#firstNameView').val(employee.firstName);
                $('#lastNameView').val(employee.lastName);
                $('#contactNumberView').val(employee.contactNumber);
                $('#emailIdView').val(employee.emailId);
                $('#ageView').val(employee.age);

                var imagePreview = "/image/" + employee.imagePath;
                // ? '/image/' + employee.profileImage
                // : 'Upload Image';
                $('#imagePreviewView').attr('src', imagePreview).show();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
   
    //function for deleting employee's record
    function deleteEmployee(Id) {
        debugger;
        // var ans = confirm("Are you sure you want to delete this Record?");
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {


                $.ajax({
                    type: "GET",
                    url: "/Employee/delete/" + Id,
                    success: function (result) {
                        // alert("Employee deleted successfully!");
                        datatable.destroy();
                        getEmployeeList();
                        Swal.fire({
                            title: "Deleted!",
                            text: "Your file has been deleted.",
                            icon: "success"
                        });
                        // location.reload();
                    },
                    error: function (errormessage) {
                        // alert(errormessage.responseText);
                        // console.error("Error deleting employee:", errormessage);
                        Swal.fire({
                            title: "Error Delete employee!",
                            text: "close",
                            icon: "Error"
                        });

                    }
                });
             
            }
        });
    }

    $(function () {
        // Initialize form validation on the registration form.
        // It has the name attribute "registration"
        $("form[name='add']").validate({
            // Specify validation rules
            rules: {
                // The key name on the left side is the name attribute
                // of an input field. Validation rules are defined
                // on the right side
                firstName: { 
                    required: true,
                    maxlength: 30
                },
                lastName: {
                    required: true,
                    maxlength: 30
                },
                contactNumber: {
                    required: true,
                    maxlength: 10
                },
                emailId: {
                    required: true,
                    maxlength: 50,
                    // Specify that email should be validated
                    // by the built-in "email" rule
                    email: true
                },
                age: {
                    required: true,
                    maxlength: 3
                }
            },
            // Specify validation error messages
            messages: {
                firstName: {
                    required: "Please provide a First Name!",
                    maxlength: "Your First Name must be at max 30 characters long"
                },
                lastName: {
                    required: "Please provide a Last Name!",
                    maxlength: "Your Last Name must be at max 30 characters long"
                },
                contactNumber: {
                    required: "Please provide a Contact Number!",
                    maxlength: "Your Contact Number must be at max 10 characters long"
                },
                emailId: {
                    required: "Please provide a EmailId!",
                    maxlength: "Your EmailId must be at max 50 characters long"
                },
                age: {
                    required: "Please provide a Age!",
                    maxlength: "Your Age must be at max 3 characters long"
                }
            },

            errorClass: "error", // Specify the CSS class for error messages
            errorElement: "div",
            // Make sure the form is submitted to the destination defined
            // in the "action" attribute of the form when valid
            submitHandler: function (form) {
                form.submit();
            }
        });


        $("form[name='add'] input[name='firstName']").on("blur", function () {
            $("form[name='add']").validate().element($(this));
        });

        $("form[name='add'] input[name='lastName']").on("blur", function () {
            $("form[name='add']").validate().element($(this));
        });

        $("form[name='add'] input[name='contactNumber']").on("blur", function () {
            $("form[name='add']").validate().element($(this));
        });

        $("form[name='add'] input[name='emailId']").on("blur", function () {
            $("form[name='add']").validate().element($(this));
        });

        $("form[name='add'] input[name='age']").on("blur", function () {
            $("form[name='add']").validate().element($(this));
        });
    });

    function validateField(fieldName) {
        $("form[name='add']").validate().element($("form[name='add'] input[name='" + fieldName + "']"));
    }
    
    
</script>
